.blur{
	filter: blur(3px) !important;
}

.mega_blur{
	filter: blur(300px) !important;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.shaking{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.shaking-red{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	background: rgba(228, 64, 64, 0.301) !important;
}