.container{
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100vh;
	filter: blur(0px);
	transition: 0.5s filter ease;
	-webkit-transition: 0.5s -webkit-filter ease;
}

.login_area{
	flex: 3;
	display: flex;	
    flex-direction: column;
    justify-content: center;
}

.info_bar{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 400px;
	box-sizing: border-box;
	padding: 10px;
	color: white;    
	background: rgba(0, 0, 0, 0.62);
}

.info_bar > div, .info_bar > section{
	flex: 1 0 50%;
}

.power_buttons_container{
	align-self: flex-end;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 20px;
    flex-wrap: wrap;
}

.power_button{
	height: 2em;
	margin: 10px;
	cursor: pointer;
    filter: brightness(75%);
	transition: 0.2s filter ease;
	-webkit-transition: 0.2s -webkit-filter ease;
}

.power_button:hover{
    filter: brightness(100%);
}

.hostname{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    margin: 5px 40px;
    flex: 1 100%;
    text-align: center;
}