.users_container{
	display: flex;
    flex-direction: column;
}

.user_item{
	color: #eee;
	margin: 5px 40px;
	padding: 5px;
	font-size: 1em;
	text-shadow: 0px 0px 20px black;
	cursor: default;
}

/*
.user_item > .user_image{
	width: 250px;
	height: auto;
	min-height: 250px;
	border-bottom: 1px solid rgb(73, 73, 73);
}
*/

.user_nice_name{
	font-size: 2em;
	margin-bottom: 3px;
}

.user_info{
	font-size: 1em;
	color: rgba(255, 255, 255, 0.65);
    margin-bottom: -2px;
}

input.user_password{
	caret-color: #595959;
    border-radius: 3px;
    border: none;
    font-size: 2.1em;
	background: rgba(255, 255, 255, 0.53);
	color: #eee;
	padding: 5px;
	outline: none !important;
    display: block;
	max-height: 100px;
	transition: 0.2s all;
    /* box-shadow: 0px 0px 20px 1px black; */
}



.user_item.collapsed > input.user_password,
.user_item.collapsed > .user_info{
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.user_item.collapsed > .user_nice_name{
	color: rgba(228, 228, 228, 0.75);
}

.user_item.collapsed:hover > .user_nice_name{
	color: rgb(241, 241, 241);
	cursor: pointer;
}

.users_container.is_active > .user_item.collapsed > .user_nice_name{
	color: rgba(228, 228, 228, 0.4);
}